<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Webpack App</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <script src="/public/react.development.js"></script>
    <script src="/public/react-dom.development.js"></script>
    <script src="/public/moment.min.js"></script>
    <script src="/public/antd.js"></script>

    <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>" type="text/javascript"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>" type="text/javascript"></script>
    <div id="root"></div>
    <script>
        var form = new Forms.renderForm('#root', {
            id: "foo",
            name: "A sample form",
            layout: 'vertical',
            content: {
                title: 'Form title',
                subtitle: 'Form subtitle',
                pages: [
                    {
                        title: 'Page 1',
                        sections: [
                            {
                                gutter: 16,
                                name: "Section 1",
                                columns: [{
                                    id: 1,
                                    name: 's1c1',
                                    title: 'Section 1 - Column 1',
                                    fields: [
                                        {
                                            id: "f1", name: "f1", type: "text", inputType: "input", label: "Text Label",
                                            placeholder: 'Placeholder Text',
                                            fieldOptions: {
                                                type: 'string',
                                                rules: [
                                                    { name: "required", value: true, message: 'Required validation message' },
                                                    { name: "minLength", value: 2, message: "MinLength=2 validation message" },
                                                ]
                                            }
                                        }
                                    ]
                                },{
                                    id: 2,
                                    name: 's1c2',
                                    title: 'Section 1 - Column 2',
                                    fields: [{
                                        id: "f2", name: "f2", inputType: "select", label: "Select Label", children: [
                                                { label: "option1", value: "option1" },
                                                { label: "option2", value: "option2" }
                                            ]
                                        },{
                                            id: "f8", name: "f8", inputType: "datepicker", label: "Datepicker label",
                                            fieldOptions: {
                                                type: 'string',
                                                rules: [
                                                    {name: "required", value: true, message: "f8 is required"}
                                                ]

                                            }
                                        },
                                    {
                                        id: "f3", name: "f3", type: "text", inputType: "input", label: "Conditional Text Label",
                                        placeholder: 'Placeholder Text',
                                        fieldOptions: {
                                            type : 'string',
                                            rules: [
                                                { name: "required", value: true, message: 'f3 is required' }
                                            ]
                                        }, condition: {
                                            predicates:[ { field: "f1", condition: "eq", value: "qq" } ]
                                        }
                                    }]
                                }]
                            }
                        ]
                    },
                    {
                        title: 'Page 2',
                        sections: [
                            {
                                name: "A Section",
                                columns: [
                                    {
                                        id: 3,
                                        name: 'p2s1c1',
                                        title: 'Section 2 - Column 1',
                                        fields: [{
                                            id: "f5", name: "f5", inputType: "textblock", label: "Text Label F5",
                                            value: "Lorem ipsum text"
                                        },{
                                            id: "f4", name: "f4", type: "text", inputType: "input", label: "Text Label F4",
                                            placeholder: 'Placeholder Text F4',
                                            fieldOptions: {
                                                type: 'string',
                                                rules: [
                                                    { name: "required", value: true, message: 'f4 is required' },
                                                    { name: "minLength", value: 2, message: "f4 must be of minlength=2" },
                                                ]
                                        }
                                    }]}
                                ]
                            }
                        ]
                    },
                    {
                        title: 'Page 3',
                        sections: [
                            {
                                name: "A Section",
                                columns: [
                                    {
                                        id: 4,
                                        name: 's1c1',
                                        title: 'Section 1 - Column 1',
                                        fields: [{
                                            id: "f6", name: "f6", type: "text", inputType: "input", label: "Text Label F6",
                                            placeholder: 'Placeholder Text F6',
                                            fieldOptions: {
                                                type: 'string',
                                                rules: [
                                                    { name: "required", value: true, message: 'Required validation message' },
                                                    { name: "minLength", value: 2, message: "MinLength=2 validation message" },
                                                ]
                                        }
                                    }]}
                                ]
                            }
                        ]
                    }
                ]
            },
            formLayoutOptions: {
                showSteps: true,
                showPageTitles : false,
                showSectionTitles: false,
                showSectionBorders : false,
                showPageBorders: false,
                validationDisablesPaging: true,
                wrapperOffset: 4
            }
        });
    </script>
</body>

</html>